* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif !important;
}

/* Topbar */
#topbar {
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #faf7f7;
}

.social-links {
  gap: 10px;
}

.social-links a {
  color: #437099 !important;
}

.social-links a:hover {
  color: #0006b2 !important;
}

.contact-info {
  gap: 10px;
}

.contact-info a {
  text-decoration: none;
}

/* Navbar section */
.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.appointment-button {
  background: #1977cc;
  color: #fff !important;
  border-radius: 50px;
}

.appointment-button:hover {
  background: #1c006e;
  color: #fff;
  text-decoration: none;
}

/* Header section */
.header-container {
  background-image: url("assets/img/mainheader-logo.webp");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  #topbar {
    display: none !important;
  }
}
