* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif !important;
}

.about-section,
.find-us-section,
.our-services {
  margin-top: 50px;
}

/* Topbar */
#topbar {
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #faf7f7;
}

.social-links {
  gap: 10px;
}

.social-links a {
  color: #437099 !important;
}

.social-links a:hover {
  color: #0006b2 !important;
}

.contact-info {
  gap: 10px;
}

.contact-info a {
  text-decoration: none;
}

/* Navbar section */
.navbar {
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  margin-bottom: 1px;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.appointment-button {
  background: #1977cc;
  color: #fff !important;
  border-radius: 50px;
}

.appointment-button:hover {
  background: #1c006e;
  color: #fff;
  text-decoration: none;
}

/* Header section */
.header-container {
  background-image: url("assets/img/mainheader-logo.webp");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-h1 {
  text-transform: uppercase;
  color: #00223d !important;
}

.btn-get-started {
  line-height: 1.5;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 35px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
  max-width: 240px;
  text-align: center;
}

.btn-get-started:hover {
  background: #1c006e;
}

.header-h1-btn-wrapper {
  padding-top: 10rem;
  padding-left: 5rem;
}

/* about section */
.section-title {
  color: #1977cc;
  text-align: center;
  margin-top: 30px;
}

.about-p {
  font-size: 20px;
}

.cabinet-img {
  max-width: 550px !important;
  width: 100%;
  max-height: 380px !important;
  height: 100% !important;
}

/* Find us section */
.findus-img {
  max-height: 300px;
  max-width: 600px;
  width: 100%;
}

.findus-p {
  font-size: 22px;
  order: 1px solid lightgray;
  padding: 5px;
  box-shadow: 0px 1px 1px 1px;
  min-height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.findus-span {
  color: #1977cc;
}

/* services section */

.services-img {
  max-width: 350px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  box-shadow: rgb(140 140 140 / 29%) 1px 1px 1px 1px;
  border-radius: 7px;
}

.service-title {
  margin-top: 20px;
  font-size: 20px;
}

/* our team section */
.our-team {
  margin-top: 50px;
}

.our-team-h2 {
  margin-bottom: 40px;
}

.dr-pic {
  box-shadow: rgb(167, 148, 148) 1px 1px 1px 1px;
}

.dr-name {
  font-size: 28px;
}

.dr-title {
  font-size: 16px;
  margin-bottom: 0;
}

.dr-col {
  align-items: center;
  justify-content: center;
  display: flex;
}

.dr-pic {
  max-width: 400px;
  width: 100%;
  max-height: 540px;
  height: 100%;
}

.our-team a {
  text-decoration: none;
}

/* testimonials section */
.testimonials-h2 {
  margin-bottom: 40px;
  margin-top: 30px;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  #topbar {
    display: none !important;
  }

  .dr-description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .findus-p {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .header-h1-btn-wrapper {
    padding: 0;
  }

  .header-h1-btn-wrapper {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .dr-row {
    flex-wrap: wrap !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .services-img {
    height: auto;
  }

  .service-title {
    font-size: 16px;
  }
}
